.login-form {
  background-color: red;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30vh;
}
.login-form > div {
  margin: 0 20px;
  padding-top: 10px;
}

.loginForm-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container-background {
  background-color: grey;
  height: 85vh;
}
.login-title {
  font-size: 3em;
}
