.splash-container {
  background-image: url("pictureeesflytrap.jpg");
  padding-top: 20vh;
  height: 70vh;
  background-color: red;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr 1fr 1fr 1fr;
  display: flex;
  justify-content: center;
}
.sidebar-button-menu {
  width: 287px;
}

.side-container {
  position: top;
}
.sidebar-buttons {
  background-color: cornflowerblue;
  width: 287px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product-preview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80vw;
}

.product-preview-container {
  display: flex;
  justify-content: center;
  background-color: burlywood;
}

.sample-product-container {
  height: 600px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sample-link-container {
  display: flex;
  justify-content: center;
}
